*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#gameContainer{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:#da1414;
    border: 2px solid black
}